
$colors: (
    text-color: #FFFFFF,
    back-color:#2D89E6,
    border-color:#C3C3C3,
    input-color: #C3C3C3
);
$text-font:sans-serif;
@function color($color) {
    $color: map-get($map: $colors, $key: $color);
    @return $color;
}


body {
height: fixed;
}
.header {
    background-color: color(back-color);
    height:76px ;
    margin-top: -15px;
    margin-right: -8px;
    margin-left: -8px;
    h1 {
        text-align: center;
        font-family: $text-font;
        font-size: 22px;
        color: color(text-color);
        padding-top: 30PX;
    }
}

.root {
    display: flex;
    .form1 {
        width: 25%;
        margin-left: 85px;
        border:dotted 1px color(border-color);
        color: color(border-color);
        margin-top: 31px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;

        .styleinput {
            border:dotted 1px color(border-color);
            border-radius: 10px;
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 15px;
            height: 40px;
            }
            h3 {
                    color: #707070;
                    text-align: center;
                }
           input {
              padding-left: 15px;
            
           }
          textarea {
              max-width: 462px;
              min-height: 270px;
    
          }
          select {
              padding-left: 15px;
          }
         
           
        }
     
       
}

